presentation.aux
presentation.log
presentation.nav
presentation.out
presentation.snm
presentation.tex.bak
presentation.toc
presentation.vrb
texput.log
presentation.pdf
*.out
*.nav
*.log
*.aux
*.snm
*.synctex.gz
*.tex.bak
*.toc
*.vrb
HEVM-presentation Ethereum Meetup 25th Oct 2023.pdf
*.fls
*.fdb_l*
*converted-to.pdf
